:root {
    --textcolour: #ADADAD;
    /* --mainheader: #C3073F;
    --hovercolour: #950740; */
    --mainheader: #A6D046;
    --hovercolour: #387a4c;
    --bordercolour: #6F2232;
    --backgroundcolour: #1A1A1D
}

.this {
    background-color: var(--hovercolour);
    border-radius: 5px;
}
.computer {
    display: flex;
    flex: 1;
    align-items: center;
}

.navOptions {
    font-size: 18px;
    margin-right: 30px;
    font-weight: 400;
}

.navOptions a {
    text-decoration: none;
    transition: all 0.3s;
    color: var(--textcolour);
    display: flex;
    align-items: center;
}

.navOptions a:hover {
    text-decoration: none;
    color: var(--hovercolour);
}

.navIcon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.navOptions:last-child {
    margin-right: 0px;
}