:root {
    --textcolour: #ADADAD;
    --mainheader: #C3073F;
    --hovercolour: #950740;
    --bordercolour: #6F2232;
    --backgroundcolor: #1A1A1D

}

.headerContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    position: relative;
    align-items: center;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 11px
}

.menuIcon {
    font-size: 24px;
    position: relative;
    top: 4px
}

.phoneNav {
    display: none;
}

.compNav {
    display: flex;
}

.logo {
    display: flex;
    font-size: 50px;
    color: var(--mainheader);
    font-weight: 800;
}

.menuIcon {
    transition: all 0.3s;
}

.menuIcon:hover {
    cursor: pointer;
    color: var(--hovercolour);
}





@media only screen and (max-width: 900px){
    .phoneNav {
        display: block;
    }

    .compNav {
        display: none;
    }

    .nav {
        top: 0px
    }

    
}