.landingImage {
    width: 100%;
    margin: auto
    /* border-style: solid; */
    
}

.landingContainer {
    display: flex;
    align-items: center;
    height: 90vh;
    margin: auto; 
    width:100%;

}

@media only screen and (max-width: 800px), (max-width: 1024px) and (max-height: 1366px){
    .landingContainer{
        display: flex;
        justify-content: left;
        width: 100%;
        margin: auto
    }
    .landingImage{
        transform: rotate(90deg);
        position: relative;
        left: -30%;
        width: 70vh
        
    }
}

@media only screen and (max-width: 811px) {
    .landingImage{
        left: -25%;
        
    }
}

@media only screen and (max-width: 700px) {
    .landingImage{
        left: -20%;
        
    }
}
